.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-list__link {
    cursor: pointer;
    color: inherit;
}

.nav-list__link:hover  {
    font-weight: 600;
    opacity: 1;
    color: $color-link;
}

.active {
    font-weight: 600;
    opacity: 1;
}